.header-section{
    background-color: black;
    height: 481px;
    width: 100vw;
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;
   
}

.header-div{
    
}

.title{
    color: #FF5E19;
    font-family: 'Berkshire Swash';
    text-align: center;
    font-size: 5rem;
}

.header-left-img{
    position: relative;
    height: 80%;
    bottom:-48px;
}

.header-right-img{
    position: relative;
    top: -35px;
    right: 60px;
}

.player-container{
    background-color: rgb(23, 20, 20);
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 20px;
    padding: 0 50px;
    padding-top: 50px;
}
.left-half{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 10px;
}
.player-info{
    display: flex;
    justify-content: space-between;
    margin:5px 30px;
}

.card{
    border: 1px solid #413b3b;
}

.select-player{
    border: 1px solid #413b3b;
    text-align : center;
    margin-top: 8px;
    padding: 10px;
    
}

.budget-div{
    border: 1px solid #413b3b;
    margin-top: 40px;
    
}

.budget-input-design{
    align-items: center;
    justify-content: space-between;
    display: flex;
    padding: 35px;
}