.header-section{
    background-color: black;
    height: 481px;
    width: 100vw;
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;
   
}

.header-div{
    
}

.title{
    color: #FF5E19;
    font-family: 'Berkshire Swash';
    text-align: center;
    font-size: 5rem;
}

.header-left-img{
    position: relative;
    height: 80%;
    bottom:-48px;
}

.header-right-img{
    position: relative;
    top: -35px;
    right: 60px;
}

.player-container{
    background-color: rgb(23, 20, 20);
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 20px;
    padding: 0 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.left-half{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 10px;
}
.player-info{
    display: flex;
    justify-content: space-between;
    margin:5px 30px;
}

.card{
    border: 1px solid #413b3b;
}

.select-player{
    border: 1px solid #413b3b;
    text-align : center;
    margin-top: 8px;
    padding: 10px;
    
}

.budget-div{
    border: 1px solid #413b3b;
    margin-top: 40px;
    
}

.budget-input-design{
    align-items: center;
    justify-content: space-between;
    display: flex;
    padding: 35px;
}

/* @media screen and (min-width: 600px){

    .header-section{
        height: 600px;
        padding-top: -500px;
    }
    .header-div{
        /* text-align: center; */
        /* justify-content: center; */
        /* align-items: center; */
        /* height: 600px; */
        /* background: red; */ 
        /* padding-left: -150px; */
        /* margin-left: -50px; */
    /* } */
    /* .select-five h1{
        font-size: 40px;
        height: 20px;
        width: 200px;
        box-sizing: border-box;
        position: relative;
        margin-bottom: 65px;
        margin-left: -20px; */
        /* text-align: center; */
        /* align-items: center; */
    /* } */
    /* .para{
        height: 60px;
        width: 400px;
        margin-top: 10px;
        overflow-x: auto;
        display: flex;
        justify-content: center;
        /* align-items: center; */
        /* margin-left: -120px;
        
    }
    .header-left-img{
        height: 40%;
        margin-top: -300px;
        width: 40%;
        /* margin-left: 80px; */
    /* }
    .header-right-img{
        margin-right: -61px;
        margin-top: -200px;
        height: 20%;
    }
    .player-container{
        display: grid;
        grid-template-columns: 2fr 3fr;
    } */ 
    
    /* .left-half{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
        padding: 10px;
    } */
/* }